@font-face {
    font-family: '배달의민족 주아';
    src: url("../../styles/fonts/BMJUA_ttf.ttf") format("ttf");
}
@font-face {
    font-family: 'Chinese';
    src: url("../../styles/fonts/ChineseFont.ttf") format("ttf");
}